<% include ./partials/head.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>
<main class="main">
        <h1 class="main-title"><%= title %></h1>
    <%- isLoggedIn ? "<a href='/logout'>Log ud</a>" : "<a href='/login'>Log ind</a>" %>
    <form method="post" class="edit-user">
        <fieldset>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= user.email %>">
            <span id="emailError" style="color: red;">
                <%= (messages && messages.emailError) ? messages.emailError : "" %>
            </span>
        </fieldset>
        <fieldset>
            <label for="username">Brugernavn</label>
            <input type="text" name="username" id="username" value="<%= user.username %>">
            <span id="usernameError" style="color: red;">
                <%= (messages && messages.usernameError) ? messages.usernameError : "" %>
            </span>
        </fieldset>
        <fieldset>
            <label for="role">Rolle</label>
            <select name="role" id="role">
                <% roles.forEach(role => { %>
                    <option value="<%= role.id %>" <%= user.fk_role == role.id ? "selected" : ""  %>><%= role.name %></option>
                <% }) %>
            </select>
        </fieldset>
        <button type="submit">Gem</button>
    </form>
</main>
<script src="/scripts/validator.js"></script>
<script>
    jsb.validationEmpty('.edit-user', '#email', 'Udfyld venligst email!', '#emailError');
    jsb.validationEmpty('.edit-user', '#username', 'Skriv venligst brugernavn!', '#usernameError');
</script>
<% include ./partials/footer.ejs %>
<% include ./partials/after-footer.ejs %>
