        <footer class="footer">
            <h3>Kontakt oplysninger</h3>
            <div class="footer-content">
                <p><%= site.sitename %></p>
                <p><%= site.street %> <%= site.street_number %></p>
                <p><%= site.postal_code %> <%= site.city %></p>
                <br>
                <p>Telefon</p>
                <p><%= site.phone %></p>
                <p>Telefax</p>
                <p><%= site.telefax %></p>
            </div>
        </footer>
    </div> <!-- wrapper end -->
    <script src="/scripts/clientCssLoader.js" defer></script>
	<noscript>
		<link rel="stylesheet" type="text/css" href=/css/client/main.css">
	</noscript>
</body>